@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.container {
  display: flex;
  padding: space.$s4;
  justify-content: center;
  align-items: center;
  border-radius: space.$s2;
  border: 1px solid color.$error-300;
  background: color.$error-25;
  gap: space.$s3;
}

.icon {
  width: space.$s5;
  height: space.$s5;
  flex: 0;
}

.messageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: space.$s3;
  flex: 1 0 0;
}

.message {
  align-self: stretch;
  color: color.$error-700;
  font: font.$text-sm-medium;
}

.button {
  display: flex;
  align-items: flex-start;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  flex-shrink: 0;

  .buttonText {
    color: color.$error-700;
    font: font.$text-sm-medium;
  }

  .buttonIcon {
    width: space.$s5;
    height: space.$s5;
  }
}
